.character-id__container {
	display: flex;
	border: 1px solid #ccc;
	margin-top: 30px;
	align-items: center;
}

.character-id__img {
	min-width: 200px;
	height: 200px;
}
.character-id__img img {
	width: 100%;
	height: 100%;
}

.flex-table {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}

.flex-cell {
	display: flex;
	height: 100%;
}
.flex-cell:not(:last-child) {
	border-bottom: 1px solid #fff;
}
.flex-cell div {
	padding: 2px 10px;
}
.flex-cell div:first-child {
	flex: 1 0 30%;
	font-weight: bold;
	background: #f1f1f1;
	text-align: right;
}
.flex-cell div:last-child {
	flex: 1 0 70%;
}

@media (max-width: 500px) {
	.character-id__container {
		flex-direction: column;
	}
	.character-id__img {
		padding-bottom: 20px;
	}
	.flex-table {
		padding: 0 15px;
	}
}