.header {
	display: flex;
	align-items: center;
	background: #202328;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.33);
	height: 60px;
}

.header__container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
}

.header__svg {
	fill: #cccccc;
	height: 45px;
}