.navbar {
}
.navbar a {
	color: inherit;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.navbar a:not(:last-child) {
	margin-right: 30px;
}
.navbar a:hover {
	color: #ff9800;
}
.navbar a.active {
	color: #ff9800;
}